<br /><br /><hr />
<div class="hgroup">
  <span style="display:block;padding:10px 5px;color:white;background-color:#028fff">Vous vous êtes authentifié à partir d'un nouveau terminal</span>
</div>
<div class="hgroup" style="padding-top: 0">
  <table style="width: 100%">
      <tr>
          <th style="text-align: left">Adresse IP</th>
          <th style="text-align:right;font-weight: 100;">{{ ip_address }}</th>
      </tr>
      <tr>
          <th style="text-align: left">Nom de l'hôte</th>
          <th style="text-align:right;font-weight: 100;"><a href="#">{{ hostname }}</a></th>
      </tr>
      <tr>
          <th style="text-align: left">Date</th>
          <th style="text-align:right;font-weight: 100;">{{ day_date }}</th>
      </tr>
  </table><br />
  <p>
      Si vous vous êtes connecté récemment et reconnaissez cette adresse IP, vous ne devez pas vous inquiéter au sujet de cet email.
  </p>
  <p>
      Si ce n'est pas vous qui vous êtes connecté récemment, vous devez immédiatement <a href="#">changer votre mot de passe.</a> Votre mot de passe devrait être unique et ne devrait pas être utilisé pour d'autre sites ou services.
  </p>
  <p>
      Pour plus de protection de votre compte, pensez à activer l'<a href="#">authentification à deux facteurs.</a>
  </p>
</div>
<br /><br /><hr />